
@{
    ViewData["Title"] = "gallons";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cups to Gallons</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
<body>
    <div id="app">
        <header id="header">
            CUPS TO GALLONS
        </header>
        <hr id="top-line" />
        <div class="row">
            <div class="offset-md-1 col-md-2">
                <input id="cupsInput" v-model="cups" v-on:input="conCtoO" type="number" />
                <p class="cups">CUPS</p>
            </div>
            <div class="col-md-4">
                <p id="equal">=</p>
            </div>
            <div class="col-md-2">
                <input id="secondInput" v-model="gallon" v-on:input="conOtoC" type="number" />
                <p class="cups"> GALLONS</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-5">
            </div>
        </div>
        <hr id="bottom-line" />
        <a href="index.html">Home</a>
    </div>
</body>
</html>


