<!--
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display" rel="stylesheet">
-->
<br />
<div class="position-relative text-center">
    <center>
        <img height="350px" src="~/images/cups.png" />
        <h3 class="title index bg-light rounded p-2 px-5 position-absolute">CUPS TO:</h3>
    </center>
</div>
<br />
<hr class="index" />
<center>
    <div class="align-self-center">
        <button type="button" class="button index" onclick="location.href='oz';">Ounces</button>
        <button type="button" class="button index" onclick="location.href='Teaspoons';">Teaspoons</button>
        <button type="button" class="button index" onclick="location.href='pints';">Pints</button>
        <button type="button" class="button index" onclick="location.href='Tablespoons';">Tablespoons</button>
        <button type="button" class="button index" onclick="location.href='gallons';">Gallons</button>
    </div>
</center>
<hr class="index" />