
@{
    ViewData["Title"] = "Tablespoons";
}

<header id="header">

            CUPS TO TABLESPOONS

        </header>

        <hr id="top-line" />

        <div class="row">

            <div class="offset-md-1 col-md-2">

                <input id="cupsInput" type="number" step="any" />

                <p class="cups">CUPS</p>

            </div>

            <div class="col-md-4">

                <p id="equal">=</p>

            </div>

            <div class="col-md-2">

                <input id="secondInput" type="number" step="any">

                <p class="units">TABLESPOONS</p>

            </div>

        </div>



        <div class="row">

            <div class="col-md-4">



            </div>

            <div class="col-md-5">



            </div>

        </div>

        <hr id="bottom-line" />

        <a href="index.html"> Home </a>
