@model double
@{
    ViewData["Title"] = "Tablespoons";
}

<header id="header">

    CUPS TO TABLESPOONS

</header>

<hr id="top-line" />

<div class="row">
    <form action="CupstoTBSP" method="post">

        <div class="offset-md-1 col-md-2">

            <input id="cupsInput" name="cups" type="number" step="any" />

            <p class="cups">CUPS</p>

        </div>

        <div class="col-md-4">
            <button id="equal" type="submit">=</button>
            <!-- <p id="equal">=</p> -->


        </div>

        <div class="col-md-2">

            <!--<input id="secondInput" type="number" step="any">-->

            <p>@Model</p>
            <p class="cups">TABLESPOONS</p>

        </div>
    </form>
</div>



<div class="row">

    <div class="col-md-4">



    </div>

    <div class="col-md-5">



    </div>

</div>

<hr id="bottom-line" />

<a href="Index"> Home </a>
