#header {
    background-color: #a72057;
    text-align: center;
    color: white;
    font-size: 95px;
    margin: 30px;
    vertical-align: middle;
}

#top-line {
    margin-top: 130px;
    margin-bottom: 60px;
    width: 75%;
}

#cupsInput {
    width: 300px;
    height: 100px;
    margin-left: 50%;
    font-size: 60px;
    border-width: 3px;
    border-color: black;
}

#secondInput {
    width: 300px;
    height: 100px;
    font-size: 60px;
    margin-left: 125px;
    border: 3px solid;
    border-color: black;
}

#bottom-line {
    margin-top: 0px;
    width: 75%;
}

.cups {
    font-size: 35px;
    margin-left: 200px
}


#equal {
    font-size: 100px;
    text-align: center;
    margin-left: 300px;
    margin-top: 100px;
    vertical-align: middle;
    font-weight: bold;
    color: #66a7a7;
    height: 50px;
    width: 100px;
    transform: translateY(-100px);
}

.units {
    font-size: 35px;
    margin-left: 55px;
}